/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans',serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a, li{
  text-decoration: none;
  list-style: none;
  color: #555;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* General */
.wrapper{
  width:100%;
	color: #555;
  font-size: 15px;
}



/* Navbar Content */

.menu-icon img{
  padding-right: 0px;
  margin-left: 8px;
  cursor: pointer;
}


.search input{
  width: 800px;
  height: 20px;
  margin-left: 60px;
	padding-left: 5px
}

.search{
  position: relative;
}
.search-icon{
  position: absolute;
  right:0;
  top:0;
  background-color: #ccc;
  padding: 5px 15px;
  cursor: pointer;
}
.upload img{
  float: right;
  padding-top: 3px;
  margin-left: 15px;
}

.button{
  height: 40px;
  width: 80px;
  margin-top: 5px;
  margin-left: 20px;
  background-color: #4169e1;
  color: white;
  border: none;
  font-size: 12px;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 2px 2px 2px #aaa;
  width:100%;
  position: fixed;
  z-index: 1;
	top: 0;
  background-color: #fff;
}

.nav-button{
  display: flex;
  align-items: center;
}
.nav-button i{
  margin-left: 30px;
  font-size: 1.3rem;
  color: #000;
}

.avatar{
  height: 40px;
  width: 40px;
  margin-left: 50px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}


/* Main Content */

.container{
  width: 100%;
  position: relative;
  top:70px;
  display: flex;
  flex-direction: row;
  margin:10px;
}
.main-content{
  width: 80%;
}


/* Video */

.iframe{
  display: inline-block;
}

.iframe-content{
  position: relative;
  left: 10%;
  width: 70%;
}

.channel-info{
text-align: center;
}
.channel_info img{
  float: left;
  display: inline-block;
}
.channel-info a{
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.subscribe{
  background-color: #ff0000;
  color: white;
  text-align: center;
  float: right;
  border: 1px solid #ccc;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
}
.subscribe .subscribers{
  background-color: #fff;
  color: #000;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.video-info{
  text-align: left;
  position: relative;
  left: 0%;
  background-color: white;
  padding: 8px;
}

.video-info p{
  line-height: 20px;
}
.about-video h5{
  width: 100%;
  text-align: center;
  margin: 2px 0px;
  cursor: pointer;
}
.about-video h6{
  margin: 0px;
}
.video-interact{
  width: 100%;
  text-align: center;
}
.video-interact span{
  cursor: pointer;
}
.add-share-more{
  float: left;
  padding: 0px 10px;
  margin-bottom: 8px;
}
.add-share-more i{
  color: #696969;
  cursor: pointer;
}


/* Side Content */

.side-content{
  width: 30%;
	margin-left: -100px;
}

.aside-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aside-heading span{
  font-weight: 700
}
.aside-main{
  margin: 30px 0;
}

.aside-main .first{
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.aside-items{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  margin:20px;
}
.aside-items .thumbnail{
  height:100px;
  width: 170px;
}
.span-text{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top:10px;
  font-size: 0.85rem;
  color: #888;
}
.thumbnail-text{
  margin-left: 10px;
}
.thumbnail-text h4{
  font-size: 0.8rem;
}
.thumbnail-text span{
  font-size: 0.7rem;
}


/* Footer */

.footer{
  width:100%;
  margin-top:100px;

}
.footer-icon{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.footer-content{
  font-size: 0.80rem;
  display: block;
}
.footer-content > *{
  display: block;
}
