body{
  background-color: white;
  margin: 0;
  padding: 0;
}
.menu-icon img{
  padding-right: 0px;
  margin-left: 8px;
  cursor: pointer;
}
/* div{
  padding: 3px;
} */
/* div input{
  margin-top: 12px;
} */
.wrapper{
  width:100%;
}
.search input{
  float: right;
  width: 800px;
  height: 20px;
  margin-left: 60px;
}

.search{
  position: relative;
}
.search-icon{
  position: absolute;
  right:0;
  top:0;
  background-color: #ccc;
  padding: 5px 15px;
  cursor: pointer;
}
.upload img{
  float: right;
  padding-top: 3px;
  margin-left: 15px;
}

.button{
  height: 40px;
  width: 80px;
  margin-top: 5px;
  margin-left: 20px;
  background-color: #4169e1;
  color: white;
  border: none;
  font-size: 12px;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 2px 2px 2px #aaa;
  width:100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
}
div{
  display: inline-block;
}
.avatar{
  height: 40px;
  width: 40px;
  margin-left: 50px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.nav-button{
  display: flex;
  align-items: center;
}
.nav-button i{
  margin-left: 30px;
  font-size: 1.3rem;
  color: #000;
}
.container{
  width: 100%;
  position: relative;
  top:70px;
  display: flex;
  flex-direction: row;
  /* column-count: 2; */
  /* column-gap: 40px; */

}
.main-content{
  /* float: left; */
  width: 70%;
}

.iframe{

}
.side-content{
  width: 30%;
  /* float: right; */
}
.channel-info{

}
.channel_info img{
  float: left;
}
.subscribe{
  background-color: #ff0000
}
